header {
  background-color: purple;
  color: white;
  margin: 0;
}

main {
  background-color: #f5f5f5;
}

input,
textarea {
  border-radius: 4px;
  width: 100%;
  text-align: left;
  border-color: #e0e0e0;
  border-style: solid;
  padding: 8px;
}

button {
  background-color: purple;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.button-container {
  text-align: right;
}

img {
  width: 100%;
}

/* @media screen and (width >= 768px) {
  .column-half {
    flex-basis: 50%;
  }
} */
